.container{
	height:200px;
	width:500px;
	background-color:lightgray;
    margin-top:110px;
	margin-left:30px;
	border-radius:40px;
	border:5px solid black;
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.red{
	background-color:green;
	height:100px;
	width:100px;
	border-radius:50%;
	margin:5px;
}
.green{
	background-color:yellow;
	height:100px;
	width:100px;
	border-radius:50%;
	margin:5px;
}
.yellow{
	background-color:rgb(255, 0, 0);
	height:100px;
	width:100px;
	border-radius:50%;
	margin:5px;
}
